
<!-- extends ก่อน ค่อย load -->
{% extends 'layout.html' %} 
{% load static %}



{% block title %} HOME {% endblock title %}

{% block content %}

    

    <div class="container px-4 mt-4">
        <div class="row">
            <div class="col-md-8">
                <!-- Articles -->


                {% for post in posts %}
                    <article class="mb-4 pb-4 border-bottom">
                        <div class="d-flex align-items-center mb-2">
                            <!-- <img src="/api/placeholder/32/32" class="rounded-circle me-2" alt="Author"> -->
                            <span style="color: rgb(122, 122, 122);"><strong>Topics</strong> {{ post.categories.all|join:", " }}</span>
                            
                        </div>
                        <a href="{% url 'postdetail' post.id %}" class="titlecus">
                            <h1 class="fs-4 fw-bold mb-2 ">{{ post.title }}</h1>  <!-- แสดงชื่อโพสต์ -->
                        </a>
                        <p class="text-muted">{{ post.content|truncatewords:15 }}</p>  <!-- แสดงเนื้อหาโพสต์บางส่วน -->
                        <div class="article-meta d-flex align-items-center">
                            <span>{{ post.created_at|date:"M d, Y \a\t H:i" }}</span><!-- แสดงวันที่สร้างโพสต์ -->
                            <span class="mx-2">·</span>
                            <span>{{ post.views }} views</span>
                            <span class="mx-2">·</span>
                            <span>{{ post.comment_set.count }} comments</span>  <!-- แสดงจำนวนความคิดเห็น -->
                        </div>
                    </article>
                    {% empty %}
                    <p>No posts available.</p>  <!-- แสดงข้อความถ้าไม่มีโพสต์ -->
                {% endfor %}

                
            </div>

            <div class="col-md-4">
                <!-- Sidebar -->
                <div class="sticky-top pt-4">
                    <h4 class="mb-3">Recommended topics</h4>
                    <div class="mb-4">
                        <form method="post" action="{% url 'index' %}">
                            {% csrf_token %}
                            {% for cat in categories %}
                                <button type="submit" name="filter-cat" value="{{ cat.name }}" class="topic-tag btn btn-link text-decoration-none text-dark {% if cat.name == selected_category %}active{% endif %}">
                                    {{ cat.name }}
                                </button>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>


{% endblock content %}

